# New Datas from Sina

In [26]:
import pandas as pd
import numpy as np

### Importing Turnover by Volume

In [27]:
vol_data = pd.read_excel('TURNOVER BY VOLUME.xlsx', index_col=0)

In [62]:
# vol_data['S&P 500 COMPOSITE - TURNOVER BY VOLUME'][vol_data.index[100]]
vol_data[10430:12000]

,S&P 500 COMPOSITE - TURNOVER BY VOLUME,FTSE 100 - TURNOVER BY VOLUME,DAX 30 PERFORMANCE - TURNOVER BY VOLUME,TOPIX - TURNOVER BY VOLUME,SHANGHAI SE A SHARE - TURNOVER BY VOLUME,KOREA SE COMPOSITE (KOSPI) - TURNOVER BY VOLUME,NIKKEI 225 STOCK AVERAGE - TURNOVER BY VOLUME,DOW JONES INDUSTRIALS - TURNOVER BY VOLUME
Date,,,,,,,,
2003-12-24,NaN,294396.0,NaN,1139120.0,19922610.0,503657.0,548930.0,82467.1
2003-12-25,NaN,NaN,NaN,962940.0,20094140.0,NaN,447400.0,NaN
2003-12-26,NaN,NaN,NaN,1351150.0,5442893.0,414254.0,553830.0,48847.0
2003-12-29,NaN,522401.0,36489.0,1033970.0,13893600.0,282393.0,523500.0,150934.1
2003-12-30,NaN,654408.0,34661.0,718170.0,14878150.0,385852.0,392650.0,128425.3
2003-12-31,NaN,240900.0,NaN,NaN,14282660.0,NaN,NaN,122450.8
2004-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-02,NaN,578018.0,62413.0,NaN,16332960.0,307493.0,NaN,168890.9
2004-01-05,NaN,1405558.0,85539.0,726690.0,27874530.0,408258.0,439670.0,214467.2
2004-01-06,NaN,2059454.0,94696.0,1417580.0,31537890.0,484054.0,767310.0,188971.9
2004-01-07,NaN,2138137.0,145580.0,1199250.0,29906130.0,404563.0,648820.0,218926.8
2004-01-08,NaN,2147189.0,139663.0,1425930.0,27178800.0,428758.0,803070.0,231971.1
2004-01-09,NaN,2147016.0,126836.0,1580490.0,30868720.0,543285.0,950710.0,219998.9
2004-01-12,NaN,1758017.0,135461.0,NaN,22517300.0,443937.0,NaN,194266.4
2004-01-13,NaN,1921308.0,107012.0,1386090.0,25383360.0,400184.0,803860.0,192468.7
2004-01-14,NaN,2142098.0,102789.0,1447690.0,20105020.0,453005.0,892360.0,180981.7
2004-01-15,NaN,2145902.0,108779.0,1537500.0,18445870.0,388389.0,856510.0,255878.9
2004-01-16,NaN,2145911.0,133852.0,1332370.0,20074660.0,424963.0,725190.0,248934.6
2004-01-19,NaN,1412470.0,90095.0,1456820.0,NaN,404253.0,904810.0,NaN
2004-01-20,NaN,1823723.0,110834.0,1493030.0,NaN,364450.0,881660.0,215813.1
2004-01-21,NaN,1993172.0,120652.0,1391290.0,NaN,NaN,832610.0,211121.5
2004-01-22,NaN,1931583.0,113803.0,1434390.0,NaN,NaN,754430.0,216364.9
2004-01-23,NaN,2118088.0,98429.0,1333720.0,NaN,NaN,776810.0,229891.7
2004-01-26,NaN,1708534.0,87832.0,1215320.0,NaN,494021.0,748740.0,182032.9
2004-01-27,NaN,2131948.0,118343.0,1061230.0,NaN,437707.0,631760.0,205140.8
2004-01-28,NaN,2133549.0,118398.0,1120510.0,NaN,432891.0,641130.0,242763.7
2004-01-29,NaN,1879773.0,110672.0,1134180.0,18082930.0,365346.0,679260.0,270641.0
2004-01-30,NaN,2147265.0,98283.0,1002600.0,23564270.0,447364.0,621990.0,204205.9
2004-02-02,NaN,2081688.0,76610.0,1008150.0,34032140.0,425187.0,678610.0,220877.7
2004-02-03,NaN,1961984.0,106026.0,1202350.0,26141260.0,461984.0,804160.0,182304.5
...,...,...,...,...,...,...,...,...
2009-11-18,NaN,1023292.0,96955.0,2263800.0,156789600.0,279956.0,1705750.0,166308.7
2009-11-19,NaN,969706.0,128750.0,2558250.0,173101000.0,281503.0,2030160.0,196096.7
2009-11-20,NaN,1164314.0,138566.0,2125560.0,174309800.0,262293.0,1631720.0,230416.8
2009-11-23,NaN,721785.0,84816.0,NaN,168009400.0,256974.0,NaN,182314.4
2009-11-24,NaN,1133815.0,96560.0,1827020.0,247685900.0,397850.0,1364740.0,163431.1
2009-11-25,NaN,1022719.0,96560.0,1947410.0,187194700.0,287007.0,1451870.0,129996.6
2009-11-26,NaN,1110331.0,120191.0,1946810.0,216084400.0,282560.0,1466010.0,NaN
2009-11-27,NaN,1511711.0,129094.0,2256730.0,147469700.0,389951.0,1763500.0,130165.9
2009-11-30,NaN,1274511.0,104879.0,2468410.0,137750000.0,311492.0,1856520.0,222773.5
2009-12-01,NaN,1351285.0,116641.0,2743420.0,163968900.0,304882.0,2128480.0,189701.9
2009-12-02,NaN,1535114.0,108840.0,2164200.0,174028500.0,329366.0,1672610.0,159451.2
2009-12-03,NaN,1471991.0,109120.0,2486560.0,158434200.0,282331.0,1920390.0,243956.3
2009-12-04,NaN,1344173.0,109755.0,2318240.0,214755600.0,281880.0,1799810.0,358958.9
2009-12-07,NaN,1072522.0,77601.0,2130230.0,139121900.0,267038.0,1643240.0,195946.3
2009-12-08,NaN,1303308.0,113759.0,2018250.0,136370300.0,355532.0,1500090.0,221723.3
2009-12-09,NaN,1211440.0,97014.0,1929110.0,114562700.0,354626.0,1489580.0,188594.8
2009-12-10,NaN,1108489.0,80025.0,2082110.0,93833090.0,470001.0,1620360.0,195472.8
2009-12-11,NaN,972487.0,94585.0,2727690.0,91126060.0,438802.0,2220340.0,179866.3
2009-12-14,NaN,1090034.0,76594.0,2007850.0,117611400.0,411975.0,1612790.0,154350.7
2009-12-15,NaN,822310.0,79655.0,2006740.0,101100800.0,366145.0,1598780.0,187558.2
2009-12-16,NaN,890713.0,120515.0,2716030.0,103475600.0,370484.0,2252000.0,208280.8
2009-12-17,NaN,1163068.0,114041.0,1897030.0,104898000.0,376797.0,1481590.0,197545.5
2009-12-18,NaN,2130863.0,221923.0,1918260.0,101096500.0,264014.0,1517670.0,479970.3
2009-12-21,NaN,791040.0,101194.0,1560110.0,74124510.0,288557.0,1204120.0,164435.5
2009-12-22,NaN,555722.0,82251.0,2183920.0,84581630.0,472134.0,1718820.0,135041.3
2009-12-23,NaN,482896.0,61441.0,NaN,79637060.0,371781.0,NaN,112433.3
2009-12-24,NaN,231030.0,NaN,1938080.0,101765700.0,330905.0,1442340.0,52637.9
2009-12-25,NaN,NaN,NaN,1244280.0,84082140.0,NaN,829290.0,NaN
2009-12-28,NaN,NaN,38247.0,1457130.0,90725280.0,389501.0,1062490.0,101958.9
2009-12-29,NaN,387898.0,47331.0,1571310.0,102223000.0,318035.0,1224440.0,92881.8

In [11]:
vol_dropna = vol_data.dropna()

### Importing price index

In [5]:
price_data = pd.read_excel('PRICE INDEX.xlsx')

In [6]:
col_names2 = []
old_names2 = price_data.columns
for i in range(len(price_data.columns)):
    col_names2.append(str(price_data[old_names2[i]][3]))
col_names2[0] = 'Date'    
price_data.columns = col_names2  
price_df = price_data.dropna()
# price_df

### Importing market value

In [7]:
mv_data = pd.read_excel('MARKET VALUE.xlsx')

In [8]:
col_names4 = []
old_names4 = mv_data.columns
for i in range(len(mv_data.columns)):
    col_names4.append(str(mv_data[old_names4[i]][2]))
col_names4[0] = 'Date'    
mv_data.columns = col_names4 
mv_df = mv_data.dropna()

### S&P500 Turn over by volume Vs. Market value

In [9]:
snp_mv = []
snp_vol = []
Date = []
for i in range(len(mv_df)):
    for j in range(len(vol_df)):
        if mv_df['Date'][mv_df.index[i]] == vol_df.index[j] :
            Date.append(vol_df.index[j])
            snp_mv.append(mv_df[col_names4[1]][mv_df.index[i]])
            snp_vol.append(vol_df[col_names[0]][vol_df.index[j]])

NameError: name 'vol_df' is not defined

In [ ]:
snp_mass = np.array(snp_vol[3:])/np.array(snp_mv[3:])  
snp_df = pd.DataFrame({'Date':Date[3:],col_names[0]:snp_vol[3:],col_names4[1]:snp_mv[3:],'S&P 500 MASS(Vol/Out)':snp_mass})     
snp_df

In [ ]:
plt.plot(snp_df['S&P 500 MASS(Vol/Out)'],'.')

### S&P yesterday's mass

In [ ]:
np.mean(snp_df['S&P 500 MASS(Vol/Out)'])

### Dow jones mass

In [ ]:
dow_mv = []
dow_vol = []
Date = []
for i in range(len(mv_df)):
    for j in range(len(vol_df)):
        if mv_df['Date'][mv_df.index[i]] == vol_df.index[j] :
            Date.append(vol_df.index[j])
            dow_mv.append(mv_df[col_names4[5]][mv_df.index[i]])
            dow_vol.append(vol_df[col_names[4]][vol_df.index[j]])

In [ ]:
dow_mass = np.array(dow_vol[3:])/np.array(dow_mv[3:])  
dow_df = pd.DataFrame({'Date':Date[3:],col_names[7]:dow_vol[3:],col_names4[8]:dow_mv[3:],'Dow Jones 30 MASS(Vol/Out)':dow_mass})     
dow_df
fig , (ax1,ax2) = plt.subplots(ncols=2,figsize=(16,9))
ax1.plot(dow_df['Dow Jones 30 MASS(Vol/Out)'],'.')
ax2.plot(snp_df['S&P 500 MASS(Vol/Out)'],'.')

### FTSE's yesterday's mass

In [ ]:
823501000/252000000.009587869503

### Relative mass of FTSE and S&P

In [ ]:
3.2678611109867783/0.23570957368978196

#####

In [ ]:
1471404000/23305250